
.count-tracker-plus {
    grid-area: plus;
    place-self: stretch;
    padding: 0rem 1rem;
    background-color: rgb(18, 149, 131);
    font-size: 4rem;
}

.count-tracker-minus {
    grid-area: minus;
    place-self: stretch;
    padding: 0rem 1rem;
    background-color: lightcoral;
    font-size: 4rem;
}

.count-tracker-count {
    grid-area: count;
    place-self: center;
    font-size: 5rem;
    color: whitesmoke;
}

.count-tracker-reset {
    grid-area: reset;
    place-self: stretch;
    background-color: lightskyblue;
    font-size: 4rem;
    padding: 0rem 1rem;
}

.count-tracker-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 5rem 5rem 5rem;
    gap: .5rem;
    
    grid-template-areas:
        "plus ."
        "count reset"
        "minus .";
    }